#seaSattle {
	width: 660px;
	height: 380px;
	border: 1px solid;
	border-radius: 25px;
	margin: 0 auto;
}
#menu {
	width: 660px;
	height: 50px;
	border: 1px solid;
	border-radius: 25px;
	box-sizing: border-box;
	float: left;
}

#menuLi {
	width: 100px;
	height: 50px;
	border: 1px solid;
	border-radius: 25px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	font-size: 20px;
}

#massenge {
	margin: 0 auto;
	width: 450px;
	height: 50px;
	border: 1px solid;
	border-radius: 25px;
	text-align: center;
	font-size: 20px;
}

#finish {
	float: right;
	width: 100px;
	height: 50px;
	border: 1px solid;
	border-radius: 25px;
	font-size: 20px;
}


#playerUser {
	width: 330px;
	height: 330px;
	border: 1px solid;
	box-sizing: border-box;
	float: left;
	background-image: url("../images/sea.jpg");
}

#playerComp {
	width: 330px;
	height: 330px;
	border: 1px solid;
	box-sizing: border-box;
	float: left;
	background-image: url("../images/sea.jpg");
}

.seaMillUser,.seaMillComp
 {
	width: 25px;
	height: 25px;
	margin: 3px;
	border: 1px solid;
	box-sizing: border-box;
	float: left;
}

.seaMillA {
	width: 23px;
	height: 23px;
	background-color: red;
	overflow: hidden;
}

.seaMillB {
	width: 23px;
	height: 23px;
	background-color: green;
	overflow: hidden;
}

.seaMillC {
	width: 23px;
	height: 23px;
	background-color: gray;
	overflow: hidden;
}
.seaMillD {
	width: 23px;
	height: 23px;
	background-color: yellow;
	overflow: hidden;
}

.fire {
	font-size: 25px;
	text-align: center;
	color: black;
}
.dontFire {
	font-size: 25px;
	color: black;
} 